<div fxLayout="column">
  <div class="flex-p">
    <mat-card>
      <mat-card-header fxLayoutAlign="left left">
        <div fxFlex="30">
          <mat-card-subtitle><h3>장비 그룹</h3></mat-card-subtitle>
        </div>
        <div fxFlex="70" style="margin-bottom: 5px;text-align: right;">
          <button mat-raised-button color="primary" class="m-1" style="line-height: 28px !important;" (click)="openDustLocationDialog(null)">추가</button>
        </div>
      </mat-card-header>
      <mat-card-content >
        <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef> 장비위치 </mat-header-cell>
            <mat-cell *matCellDef="let dustLocations" (click)="showDustList(dustLocations.location)"> {{dustLocations.location}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="count">
            <mat-header-cell *matHeaderCellDef> 갯수 </mat-header-cell>
            <mat-cell *matCellDef="let dustLocations"> {{dustLocations.count}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef> 사용여부 </mat-header-cell>
            <mat-cell *matCellDef="let dustLocations"> {{dustLocations.isActive}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell *matCellDef="let dustLocations" (click)="deleteDustLocations(dustLocations)">
              <mat-icon>delete_outline</mat-icon>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let dustLocations; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card-content>
      <mat-card-header fxLayoutAlign="left left">
        <div fxFlex="30">
          <mat-card-subtitle><h3>장비 등록 및 배치</h3></mat-card-subtitle>
        </div>
        <div fxFlex="70" style="margin-bottom: 5px;text-align: right;">
          <button mat-raised-button color="primary" class="m-1" style="line-height: 28px !important;" (click)="openDustDialog(dustLocations)">추가</button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div fxFlex="100" style="padding-right: 5px;">
          <mat-table #table [dataSource]="dataSource1" class="mat-elevation-z8">
            <ng-container matColumnDef="dustName">
              <mat-header-cell *matHeaderCellDef> 장비명 </mat-header-cell>
              <mat-cell *matCellDef="let dusts"> {{dusts.dustName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dustIPAddress">
              <mat-header-cell *matHeaderCellDef> 장비주소 </mat-header-cell>
              <mat-cell *matCellDef="let dusts"> {{dusts.dustIPAddress}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dustType">
              <mat-header-cell *matHeaderCellDef> 장비타입 </mat-header-cell>
              <mat-cell *matCellDef="let dusts"> {{dusts.dustType}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="version">
              <mat-header-cell *matHeaderCellDef> 버전 </mat-header-cell>
              <mat-cell *matCellDef="let dusts"> {{dusts.version}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="isActive">
              <mat-header-cell *matHeaderCellDef> 사용여부 </mat-header-cell>
              <mat-cell *matCellDef="let dusts"> {{dusts.isActive}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
              <mat-cell *matCellDef="let dusts" (click)="deleteDust(dusts)">
                <mat-icon>delete_outline</mat-icon>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
            <mat-row *matRowDef="let dusts; columns: displayedColumns1;"></mat-row>
          </mat-table>
        </div>
        <!--<div fxFlex="50">
          &lt;!&ndash;<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let users"> {{users.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="userID">
              <mat-header-cell *matHeaderCellDef> User ID </mat-header-cell>
              <mat-cell *matCellDef="let users"> {{users.userID}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="company">
              <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
              <mat-cell *matCellDef="let users"> {{users.company}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tel">
              <mat-header-cell *matHeaderCellDef> Tel </mat-header-cell>
              <mat-cell *matCellDef="let users"> {{users.tel}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let users; columns: displayedColumns;"></mat-row>
          </mat-table>&ndash;&gt;
        </div>-->

      </mat-card-content>
    </mat-card>
  </div>
</div>
