<div fxLayout="column">
  <div class="flex-p">
    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="전체">
            <div fxFlex="100">
              <mat-table #table [dataSource]="dataSource1" class="mat-elevation-z8" *ngFor="let i=index; ">
                <ng-container matColumnDef="dustName">
                  <mat-header-cell *matHeaderCellDef> 제품명 </mat-header-cell>
                  <mat-cell *matCellDef="let dusts"> {{dusts.dustName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="alarmcontent">
                  <mat-header-cell *matHeaderCellDef> 알람 내용 </mat-header-cell>
                  <mat-cell *matCellDef="let dusts"> {{m_byaAlarm_history_arr[0]}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef> 발생 일시 </mat-header-cell>
                  <mat-cell *matCellDef="let dusts">  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                <mat-row *matRowDef="let dusts; columns: displayedColumns1;"></mat-row>
              </mat-table>
            </div>
          </mat-tab>
          <!--<mat-tab *ngFor="let dust of dusts | DustSearchPipe : dust.dustName" label="{{dust.dustName}}">
            <div fxFlex="100">
              <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="alarmcontent">
                  <mat-header-cell *matHeaderCellDef> 알람 내용 </mat-header-cell>
                  <mat-cell *matCellDef="let dusts"> {{dusts.alarmcontent}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef> 발생 일시 </mat-header-cell>
                  <mat-cell *matCellDef="let dusts"> {{dusts.date}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let dusts; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-tab>-->
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
