<app-info-cards></app-info-cards>

<!--<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="45" class="flex-p">
        <app-disk-space></app-disk-space>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="55" class="flex-p">
        <app-todo></app-todo>
    </div>
</div>-->

<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="70" class="flex-p">
        <mat-card class="p-0">
            <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center" style="height:40px;">
                <h3 class="user-name"> 집진기 1(Puls)</h3>
            </div>
            <div class="fan-img" fxLayoutAlign="center center" style="margin-top:15px;margin-bottom:15px;">
                <img src="assets/img/users/pulsing.gif" class="transition-2" style="width:70px;margin-right: 5px;">
                <!--<img *ngIf="paramData['m_stRunParam'].m_byMode > 0" src="assets/img/users/fan.gif" class="transition-2" style="width:70px;margin-right: 5px;">
                &lt;!&ndash;<img *ngIf="paramData.m_byMode === 0" src="assets/img/users/fan.gif" class="transition-2" style="width:70px;margin-right: 5px;">
                <img *ngIf="paramData.m_byMode === 0" src="assets/img/users/fan1.gif" class="transition-2" style="width:70px;margin-right: 5px;">&ndash;&gt;
                <img *ngIf="paramData.m_byMode === 1" src="assets/img/users/pulsing.gif" class="transition-2" style="width:70px;margin-right: 5px;">
                <img *ngIf="paramData.m_byMode === 1" src="assets/img/users/pulsing1.gif" class="transition-2" style="width:70px;margin-right: 5px;">
                <img *ngIf="paramData.m_byMode === 2" src="assets/img/users/shaking.gif" class="transition-2" style="width:70px;margin-right: 5px;">
                <img *ngIf="paramData.m_byMode === 2" src="assets/img/users/shaking1.gif" class="transition-2" style="width:70px;margin-right: 5px;">-->
                <!--                <img *ngIf="!dust.image" src="assets/img/users/default-user.jpg" class="transition-2" style="width:113px;">-->
            </div>
            <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="100" fxLayout="column" class="user-details transition-2">
                    <p fxLayout="row" fxLayoutAlign="center center">
                        <mat-chip-list>
                            <mat-chip class="custom-chip">차압 150 mmAq</mat-chip>
                            <mat-chip class="custom-chip">전압 220 V</mat-chip>
                            <mat-chip class="custom-chip">전류 15 A</mat-chip>
                            <mat-chip class="custom-chip">인버터 100 %</mat-chip>
                            <mat-chip class="custom-chip">전력 24 kW/h</mat-chip>
                            <mat-chip class="custom-chip">가동시간 89 H</mat-chip>
                            <!--<mat-chip class="custom-chip">차압 {{paramData.m_wPressure}} mmAq</mat-chip>
                            <mat-chip class="custom-chip">전압 {{paramData['m_stSysParam'].m_wPower_value}} V</mat-chip>
                            <mat-chip class="custom-chip">전류 {{m_waCurrent_nowx10}} A</mat-chip>
                            <mat-chip class="custom-chip">인버터 {{paramData['m_stSysParam'].m_byInverter_out}} %</mat-chip>
                            <mat-chip class="custom-chip">전력 {{paramData.m_fParam_power}} kW/h</mat-chip>
                            <mat-chip class="custom-chip">가동시간 {{paramData.m_wParam_runtime}} H</mat-chip>-->
                        </mat-chip-list>
                    </p>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="30" fxLayout="column">
        <app-todo></app-todo>
        <!--<div fxFlex="100" class="flex-p">
            <mat-card>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="muted-text">
                    <mat-icon class="icon-lg">monetization_on</mat-icon>
                    <div>
                        <h1>$ 35700</h1>
                        <h2 class="fw-400">Profit</h2>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="100" class="flex-p">
            <mat-card>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="muted-text">
                    <mat-icon class="icon-lg">cloud_download</mat-icon>
                    <div>
                        <h1>187230</h1>
                        <h2 class="fw-400">Downloads</h2>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="100" class="flex-p">
            <mat-card>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="muted-text">
                    <mat-icon class="icon-lg">shopping_cart</mat-icon>
                    <div>
                        <h1>78,25 %</h1>
                        <h2 class="fw-400">Sales</h2>
                    </div>
                </div>
            </mat-card>
        </div>-->
    </div>
</div>
