<h1 mat-dialog-title><span *ngIf="!dust.id">Add</span><span *ngIf="dust.id">Edit</span> Dust</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="user-form">
    <div fxLayout="column" class="form-field-outer">

      <mat-form-field class="w-100">
        <mat-select placeholder="장비위치" formControlName="locationID" [(ngModel)]="selectedLocation" (selectionChange)="selectedDustLocations()">
          <mat-option *ngFor="let location of locations" [value]="location.id">
            {{location.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="장비주소" formControlName="dustIPAddress">
        <mat-error *ngIf="form.controls.dustIPAddress.errors?.required">IP Address is required</mat-error>
        <input hidden formControlName="locationID">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="장비명" formControlName="dustName">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="장비타입" formControlName="dustType">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="버전" formControlName="version">
      </mat-form-field>
      <mat-checkbox formControlName="isActive">Active</mat-checkbox>
      <!--<mat-checkbox formControlName="isDeleted">Blocked</mat-checkbox>-->
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid">
    <span *ngIf="!dust.id">Save</span><span *ngIf="dust.id">Update</span>
  </button>
  <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>
